.grey-icon {
    opacity: .4;
}
.input-field {
    height: 30px;
    padding-left: 35px;
    font-size: 10px;
}
.submit-button {
    background-color: #63AC45;
    height: 30px;
    color: white;
    border: none;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    font-size: 12px;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.submit-button:hover {
    color: white;
    background-color: rgb(69, 120, 48);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}


.submit-button svg {
    margin-left: 6px;
    width:12px;
    height:12px;
}
.text-area {
    padding-left: 2.5rem;
    height: auto;
    resize: vertical;
}
.tp-10 {
    z-index: 2;
    margin-top:8px;
}
.custom-section {
    background-color: #EFF7EC;
    border-radius: 15px;
   margin:auto;
}

.head_title {
    font-size: 30px;
    font-weight: 700;
    padding: 30px 15px;
    margin: 0;
}

.head_title span {
    color: #63AC45;
}
.text-area {
    height: 150px;
    font-size: 10px;
    padding-left: 45px;
}
.fa {
    font-size: 14px;
}

    .tp-10 {
        z-index: 2;
        margin-top: 35px;
    }
    .custom-section {
        background-color: #EFF7EC;
        border-radius: 15px;
       margin: auto;
    }
    .head_title {
        font-size: 30px;
        font-weight: 700;
        padding: 30px 15px;
        margin: 0;
    }
    .submit-button {
        background-color: #63AC45;
        height: 50px;
        color: white;
        border: none;
        border-radius: 4px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 16px;
        font-size: 16px;
        cursor: pointer;
        transition: opacity 0.3s ease;
    }
    .submit-button svg {
        margin-left: 8px;
        width:16px;
        height:16px;
    }
    .fa {
        font-size: 24px;
    }
    .input-field {
        height: 70px;
        font-size: 20px;
        border-radius: 12px;
        padding-left: 55px;
        border: 1px solid #e7e7e7;
        box-shadow: 10px 10px 24px 1px hsla(0,0%,87%,.15);
        margin-bottom: 10px;
    }
    .text-area{
        font-size: 20px;
        padding-left: 55px;
        box-shadow: 10px 10px 24px 1px hsla(0,0%,87%,.15);
        border: 1px solid #e7e7e7;
        height: 310px;
        padding-top: 20px;

    }
    .fa-user:before, .fa-envelope:before, .fa-phone:before , .fa-briefcase:before,.fa-commenting:before {
margin-left: 5px;
    }

    @media (max-width: 767px) {
        .submit-button {
            width: 100%; 
            padding: 0.5rem; 
        }
        .submit-button svg {
            margin-left: 4px !important;
            width: 11px;
            height: 13px;
        }
        .text-area {
            font-size: 12px;
            padding-left: 40px;
            height: 200px;
            padding-top: 10px;
            margin-bottom: 5px;
        }
        .head_title {
            font-size: 14px !important;
            font-weight: 600 !important;
            padding: 18px 0px !important;
            margin: 0;
        }
        .tp-10 {
            margin-top: 12px;
        }
        .fa {
            font-size: 15px;
        }
        .input-field {
            height: 40px;
            font-size: 12px;
            border-radius: 12px;
            padding-left: 40px;
        }
        .fa-user:before, .fa-envelope:before, .fa-phone:before , .fa-briefcase:before,.fa-commenting:before {
            margin-left: 0;
                }
    
    }
    