.header-container {
display: flex;
align-items: center;
justify-content: space-between;
position: relative;
min-height: 64px;
}
.container {
    padding-left: 16px;
    padding-right: 16px;
}
.logo-container {
display: flex;
align-items: center;
}
.title-heading{
    font-size: 22px;
    font-weight: 800;
    color:black; 
    margin-left: 5px
  }
.menu-icon {
cursor: pointer;
display: flex;
align-items: center;
justify-content: center;
border-radius: 12px;
box-shadow: 10px 10px 24px 1px hsla(0,0%,87%,.15);
}
.header-menu {
display: none;
position: absolute;
left: 0;
top: 100%;
width: 100%;
background-color: white;
z-index: 1000;
}
.header-menu.open {
display: block;
}
.header-menu-item {
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px;
transition: background-color 0.3s ease;
font-size: 15px;
color: #33363A;

}
.header-menu-item:hover,.header-menu-item:active {
background-color: #f8f9fa;
cursor: pointer;
}
.header-menu-item img {

margin-left: 10px;
width:16px;
height:16px;
}
@media (min-width: 650px) {
.dot {
color: #63AC45;
font-size: 20px;
vertical-align: -5px;
margin-left: -5px;
}
}
@media (min-width: 720px) and (max-width: 1280px) {
.dot {
color: #63AC45;
font-size: 30px;
vertical-align: -5px;
margin-left: -5px;
}
}
@media (min-width: 992px) {
    .container {
        padding-left: 0;
        padding-right: 0;
    }
}