.custom-padding {
  padding: 0 0 50px 0;
}

.h1.mt-4.mb-5 {
  font-size: 56px;
  font-weight: 700;
}

.News-title{
  font-size: 30px;
  font-weight: 600;
  padding: 0;
}

.back-link{
  font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    color: rgb(99, 172, 69);
}

a.back-link:hover{
  text-decoration: none;
  color: rgb(99, 172, 69);
}


.about-us-container {
  background-color: #eff7ec;
  border-radius: 1rem;
  padding: 4rem 3rem;
}
.card-img-top{
  width: 100%;
  height: auto;  /* Allows the height to grow with the width */
  max-height: 500px;  /* Ensures it does not grow beyond 500px */
  object-fit: cover;
}

@media (min-width: 768px) {
  .card-img-top {
    height: auto;
    max-height: 500px;
    object-fit: cover;
  }
}

.heading-3 {
  line-height: 1.5;
  font-size: 30px;
  font-weight: 500;
}

.heading-container {
  width: 59%;
  margin: auto;
}

.heading-4 {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 500;
}

.custom-bottom {
  margin-bottom: 0;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
}
.home-heading-1 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
}

.heading-5 {
  line-height: 1.5;
  font-size: 30px;
  font-weight: 600;
}

.services-container {
  padding-top: 5rem;
}

.sub-headings {
  line-height: 1.5;
  margin-top: 18px !important;
  font-size: 15px;
  font-weight: 600;
}

.service-image-container {
  background: url("../img/background-img.png");
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-paragraphs {
  margin: 10px 0;
  font-size: 13px;
  width: 95%;
  font-weight: 400;
}

.paragraph-1 {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 16px;
}

.lato-heading {
  font-family: "Lato", sans-serif;
}

.submit-button {
  background-color: #63ac45;
  height: 30px;
  color: white;
  border: none;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  cursor: pointer;
  transition: opacity 0.3s ease;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px,
    rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
}

.submit-button:hover {
  color: white;
  background-color: rgb(69, 120, 48);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px,
    rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.about-text {
  width: 80%;
  margin: auto;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
}
.testimonial-container {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}
.sub-heading-7 {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
}

.green-line {
  background: #63ac45;
  height: 2px !important;
  width: 100px;
  margin: 30px auto;
  opacity: 1 !important;
}

.odoo-o {
  color: rgb(135, 90, 123);
}

.odoo-doo {
  color: rgb(136, 136, 136);
}

.img {
  position: absolute;
  width: 60px;
}

.date-container {
  background-color: #eff7ec;
  border-radius: 10px;
}

.card .description,
.card p {
  line-height: 1.8;
}

.heading-odoo {
  line-height: 1.5;
  margin-top: 18px !important;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 10px;
}
.partner-container {
  padding: 4rem 3rem;
  background-color: #eff7ec;
  border-radius: 1rem;
}
.subheading {
  margin: 10px 0;
  font-size: 13px;
  width: 100%;
  font-weight: 400;
  line-height: 1.5;
}

.heading-6 {
  line-height: 1.5;
  font-size: 30px;
  font-weight: 600;
}

.sub-paragraph-6 {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 500;
}

.first-image {
  left: 2%;
  top: 30% !important;
}

.second-image {
  left: 16%;
  bottom: -8%;
}

.third-image {
  right: -4%;
  bottom: 1%;
}

.fourth-image,
.fourth-image-2 {
  right: 10%;
  top: -6%;
}

.fifth-image {
  left: 25%;
  top: -6%;
}

.third-image-2 {
  right: 4%;
  bottom: 13%;
}

.sixth {
  width: 40px;
  height: 40px;
  right: -3%;
  top: 16%;
}

.news-container {
  font-size: 30px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 767px) {
  .menu-icon{
    width: 35px !important;
    height: 35px !important;
  }
  .custom-container {
    margin-left: 16px;
    margin-right: 16px;
    box-sizing: border-box;
  }
  .about-text {
    width: 100%;
  }
  .first-image {
    left: -5%;
    top: 20%;
  }
  .second-image {
    left: 16%;
    bottom: -5%;
  }
  .third-image {
    bottom: -4%;
    right: -5%;
  }
  .fourth-image {
    top: 20%;
    right: -5%;
  }
  .sixth {
    width: 40px;
    height: 40px;
    right: -5%;
    top: 16%;
  }
  .News-title {
    font-size: 16px !important;
  }
  
  .back-link {
    font-size: 0.7rem !important;
  }
  .submit-button {
    padding: 0.5rem 0.5rem !important;
    font-size: 9px !important;
  }
  .home-heading-1 {
    font-size: 12px !important;
    font-weight: 500;
    line-height: 1.6;
  }
  .h1.mt-4.mb-5 {
    font-size: 16px !important;
  }
  .custom-bottom {
    font-size: 0.7rem !important;
  }
  .heading-3 {
    font-size: 18px;
  }
  .heading-container {
    width: 80%;
  }

  .subheading {
    font-size: 9px !important;
    margin: auto !important;
    width: 80% !important;
  }
  .heading-odoo {
    font-size: 11px;
  }
  .services-container {
    padding-top: 2rem !important;
  }
  .service-item img {
    height: 30px !important;
    width: 30px !important;
  }
  .heading-5 {
    font-size: 23px;
  }
  .paragraph-1 {
    font-size: 0.7rem;
    margin-top: 0;
  }
  .service-image-container {
    border-radius: 7px;
    width: 35px !important;
    height: 35px !important;
  }
  .service-image-container img {
    width: 20px !important;
    height: 20px !important;
  }
  .sub-headings {
    font-size: 12px !important;
  }
  .sub-paragraphs {
    font-size: 10px !important;
    width: 100% !important;
  }
  .heading-6 {
    font-size: 18px;
  }

  .img {
    position: absolute;
    width: 45px;
  }

  .link-button {
    padding: 5px 8px !important;
    font-size: 0.6rem !important;
  }

  .link-button svg {
    width: 15px;
    height: 20px;
  }

  .about-us-container {
    background-color: #eff7ec;
    border-radius: 1rem;
    padding: 4rem 2rem;
  }

  .news-container {
    font-size: 22px;
  }
  .sub-heading-7,
  .date-container,
  .card p,
  .about-text,
  .sub-paragraph-6,
  .heading-4 {
    font-size: 0.7rem;
  }

  .testimonial-slider {
    min-width: 340px !important;
    margin: 0 auto;
  }

  .slick-slide {
    width: 340px !important;
    min-width: 340px !important;
  }

  .col-md-6.offset-md-3 {
    max-width: 360px !important;
  }
  .testimonial-text {
    font-size: 11px;
  }
  .testimonial-container {
    font-size: 22px;
  }
  .testimonial-name,
  .testimonial-designation {
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  .testimonial-slider {
    min-width: 500px !important;
    margin: 0 auto;
  }


  .slick-slide {
    width: 500px !important;
    min-width: 500px !important;
  }

  .col-md-6.offset-md-3 {
    max-width: 500px !important;
    margin: 0 auto;
  }
}

#image-column {
  order: -1;
}

#image-column img {
  margin-bottom: 0;
  padding: 0 20px 0px 20px;
}

@media (max-width: 767px) {
  #image-column img {
    margin-bottom: 40px;
    padding: 0;
  }
  .h1.mt-5.mb-5 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
    font-size: 30px;
  }
  .contact {
    width: auto !important;
    display: inline-block;
  }
}

@media (min-width: 768px) {
  .h1.mt-5.mb-5 {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
  }

  #image-column {
    order: 1;
    margin-bottom: 0;
    padding: 0 20px 0px 20px;
  }

  #text-column {
    order: 0;
    padding-top: 60px;
  }
}

.testimonial-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: gray;
}
.testimonial-image {
  width: 100px;
  height: 100px;
  padding: 7px;
  margin-bottom: 30px;
  display: block;
}
.testimonial-name {
  margin-top: 20px;
  font-weight: 600;
  color: black;
}
.testimonial-designation .product-link {
  color: #28a745;
  text-decoration: none;
}

.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 100px !important;
  height: 100px !important;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.slick-prev:hover,
.slick-next:hover,
.slick-prev:focus,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent;
}

.slick-prev {
  left: -100px !important;
  z-index: 1;
  background-image: url("../img/left-arrow.png") !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 100px 100px !important;
}

.slick-next {
  right: -100px !important;
  z-index: 1;
  background-image: url("../img/right-arrow.png") !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 100px 100px !important;
}

.slick-prev:before,
.slick-next:before {
  content: "" !important;
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: black;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-slide img {
  display: initial !important;
}

@media (max-width: 767px) {
  .slick-prev {
    left: -60px !important;
    background-size: 50px 50px !important;
  }

  .slick-next {
    right: -60px !important;
    background-size: 50px 50px !important;
  }
}

.card-title {
  height: 2em;
  line-height: 0.8;
  font-size: 1.3em;
  font-weight: bold;
}

.read-more {
  background-color: #63ac45;
  color: white;
  padding: 13px;
}

.link-button {
  padding: 10px 15px;
  border-radius: 4px;
  border: 1px solid rgba(99, 172, 69, 0.5);
  color: #63ac45;
  font-weight: 500;
  font-size: 1.1rem;
}
.link-button:hover {
  border-color: #63AC45 !important;
  transition: border-color .18s ease-in;
  color: #63ac45 !important;
  text-decoration: none !important;
}

.menu-icon{
  width: 48px;
  height: 48px;
}

@media (max-width: 600px) {
  .no-padding-mobile {
    padding-left: 0;
    padding-right: 0;
  }
  .no-margin-mobile {
    margin-top: 1rem !important;
  }
}

.testimonial-slider {
  min-width: 900px; 
  margin: 0 auto;
}

.slick-slide {
  width: 900px; 
  min-width: 900px; 
}

.col-md-6.offset-md-3 {
  max-width: 100%; 
  flex: 0 0 100%; 
  max-width: 900px; 
  margin: 0 auto; 
}
@media (min-width: 1024px) {
  .testimonial-slider,
  .slick-slide,
  .col-md-6.offset-md-3 {
      width: 850px !important;
      min-width: 850px !important;
      max-width: 850px !important;
      margin: 0 auto;
  }
}