
.services-containerr{
  padding: 30px;
  margin: auto;
}
.services-containerr h3{
font-size: 30px;
font-weight: 700;
}

.service-image-container {
  background: url("../img/background-img.png");
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub-headings {
  line-height: 1.5;
  margin-top: 18px !important;
  font-size: 15px;
  font-weight: 600;
}
.sub-paragraphs {
  margin: 10px 0;
  font-size: 13px;
  width: 95%;
  font-weight: 400;
}

.service-para{
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
}

.sub-para-service, ul li{
  margin: 10px 0;
  line-height: 1.8;

}

@media (max-width: 767px) {
  .sub-para-service, ul li{
   font-size: 12px;
   margin: 0;
  }
  .align-items-center {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin:1px;
  }
  .services-containerr {
    padding: 15px 0 !important;
  }
  .services-containerr h3{
  font-size: 15px !important;
  font-weight: 600;
  }
  .submit-button svg {
    margin-left: 0;
  }
  .sub-paragraphs {
    font-size: 10px !important;
    width: 100% !important;
  }
  .service-image-container {
    border-radius: 7px;
    width: 35px !important;
    height: 35px !important;
  }
  .service-image-container img {
    width: 20px !important;
    height: 20px !important;
  }
  .sub-headings {
    font-size: 12px;
  }
  h3{
  font-size:15px;
  }
  .service-para{
font-size: 0.7rem;
margin-bottom: 5px;
  }
  .text-end {
  text-align: start !important;
  }
  .btn-mobile-small {
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 4px;
  }
  .btn-mobile-small svg {
  width: 12px;
  height: 12px;
  }
  .btn-contact {
      display: inline-flex; 
      align-items: center; 
      justify-content: center; 
      text-decoration: none; 
      padding: 8px 12px;
      gap: 8px; 
  }
  
  .submit-button {
      background-color: #63AC45;
      height: 30px;
      color: white;
      border: none;
      border-radius: 4px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 0.5rem 1rem;
      font-size: 12px;
      cursor: pointer;
      transition: opacity 0.3s ease;
    }
    
    .submit-button:hover {
      color: white;
      background-color: rgb(69, 120, 48);
      box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    }
  
  .btn-contact .btn-text,
  .btn-contact .btn-icon {
      display: flex;
      align-items: center;
  }
  }